<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
	
	<resultMap id="appAuthoritiesResult" type="AppAuthoritiesBean">
		<result property="username" column="username"/>
		<result property="authority" column="authority"/>
	</resultMap>

	<select id="countAppAuthoritiesSearch" parameterType="com.micro.msb.beans.AppAuthoritiesSearchBean" resultType="Integer">
		select count(*) from app_authorities
		<where>
			<if test="username!=null">
				username like #{username}
			</if>
			<if test="authority!=null">
				authority like #{authority}
			</if>
		</where>		
	</select>

	<select id="searchAppAuthorities" parameterType="com.micro.msb.beans.AppAuthoritiesSearchBean" resultMap="appAuthoritiesResult">         
		select * from app_authorities  
		<where>
			<if test="username!=null">
				username like #{username}
			</if>
			<if test="authority!=null">
				authority like #{authority}
			</if>
		</where> limit 10 offset #{rowid}
	</select>

</mapper>
