<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
	
	<resultMap id="appContractResult" type="AppContractBean">
		<result property="recordId" column="record_id"/>
		<result property="contractCode" column="contract_code"/>
		<result property="contractName" column="contract_name"/>
		<result property="contractStatus" column="contract_status"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="username" column="username"/>
	</resultMap>

	<select id="countAppContractSearch" parameterType="com.micro.msb.beans.AppContractSearchBean" resultType="Integer">
		select count(*) from app_contract
		<where>
			<if test="recordId!=null">
				record_id like #{recordId}
			</if>
			<if test="contractCode!=null">
				contract_code like #{contractCode}
			</if>
			<if test="contractName!=null">
				contract_name like #{contractName}
			</if>
			<if test="contractStatus!=null">
				contract_status like #{contractStatus}
			</if>
			<if test="startDate!=null">
				start_date like #{startDate}
			</if>
			<if test="endDate!=null">
				end_date like #{endDate}
			</if>
			<if test="username!=null">
				username like #{username}
			</if>
		</where>		
	</select>

	<select id="searchAppContract" parameterType="com.micro.msb.beans.AppContractSearchBean" resultMap="appContractResult">         
		select * from app_contract  
		<where>
			<if test="recordId!=null">
				record_id like #{recordId}
			</if>
			<if test="contractCode!=null">
				contract_code like #{contractCode}
			</if>
			<if test="contractName!=null">
				contract_name like #{contractName}
			</if>
			<if test="contractStatus!=null">
				contract_status like #{contractStatus}
			</if>
			<if test="startDate!=null">
				start_date like #{startDate}
			</if>
			<if test="endDate!=null">
				end_date like #{endDate}
			</if>
			<if test="username!=null">
				username like #{username}
			</if>
		</where> limit 10 offset #{rowid}
	</select>

</mapper>
