<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="appContractDeviceReadResult" type="AppContractDeviceReadBean">
		<result property="recordId" column="record_id"/>
		<result property="contractCode" column="contract_code"/>
		<result property="contractType" column="contract_type"/>
		<result property="deviceCode" column="device_code"/>
		<result property="deviceStatus" column="device_status"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<collection property="appDeviceRecords" column="record_id" select="readAppContractDeviceAppDeviceRecords"/>
	</resultMap>
	
	<select id="readAppContractDevice" parameterType="com.micro.msb.beans.AppContractDeviceReadBean" resultMap="appContractDeviceReadResult">         
		select * from app_contract_device where record_id = #{recordId};
	</select>

	<select id="readAppContractDeviceAppDeviceRecords" parameterType="Integer" resultMap="appDeviceRecordsResult">         
		select * from app_device_records where record_id = #{recordId};
	</select>
  
</mapper>
