<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="appContractReadResult" type="AppContractReadBean">
		<result property="recordId" column="record_id"/>
		<result property="contractCode" column="contract_code"/>
		<result property="contractName" column="contract_name"/>
		<result property="contractStatus" column="contract_status"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="username" column="username"/>
		<collection property="appContractDevice" column="record_id" select="readAppContractAppContractDevice"/>
		<collection property="appContractProduct" column="record_id" select="readAppContractAppContractProduct"/>
		<collection property="appContractService" column="record_id" select="readAppContractAppContractService"/>
	</resultMap>
	
	<select id="readAppContract" parameterType="com.micro.msb.beans.AppContractReadBean" resultMap="appContractReadResult">         
		select * from app_contract where record_id = #{recordId};
	</select>

	<select id="readAppContractAppContractDevice" parameterType="Integer" resultMap="appContractDeviceResult">         
		select * from app_contract_device where record_id = #{recordId};
	</select>
  
	<select id="readAppContractAppContractProduct" parameterType="Integer" resultMap="appContractProductResult">         
		select * from app_contract_product where record_id = #{recordId};
	</select>
  
	<select id="readAppContractAppContractService" parameterType="Integer" resultMap="appContractServiceResult">         
		select * from app_contract_service where record_id = #{recordId};
	</select>
  
</mapper>
