<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
	
	<resultMap id="appDeviceAttributeResult" type="AppDeviceAttributeBean">
		<result property="deviceCode" column="device_code"/>
		<result property="textAttribute01" column="text_attribute_01"/>
		<result property="textAttribute02" column="text_attribute_02"/>
		<result property="textAttribute03" column="text_attribute_03"/>
		<result property="textAttribute04" column="text_attribute_04"/>
		<result property="textAttribute05" column="text_attribute_05"/>
		<result property="textAttribute06" column="text_attribute_06"/>
		<result property="textAttribute07" column="text_attribute_07"/>
		<result property="textAttribute08" column="text_attribute_08"/>
		<result property="textAttribute09" column="text_attribute_09"/>
		<result property="textAttribute10" column="text_attribute_10"/>
		<result property="intAttribute01" column="int_attribute_01"/>
		<result property="intAttribute02" column="int_attribute_02"/>
		<result property="intAttribute03" column="int_attribute_03"/>
		<result property="intAttribute04" column="int_attribute_04"/>
		<result property="intAttribute05" column="int_attribute_05"/>
		<result property="lastUpdate" column="last_update"/>
	</resultMap>

	<select id="countAppDeviceAttributeSearch" parameterType="com.micro.msb.beans.AppDeviceAttributeSearchBean" resultType="Integer">
		select count(*) from app_device_attribute
		<where>
			<if test="deviceCode!=null">
				device_code like #{deviceCode}
			</if>
			<if test="textAttribute01!=null">
				text_attribute_01 like #{textAttribute01}
			</if>
			<if test="textAttribute02!=null">
				text_attribute_02 like #{textAttribute02}
			</if>
			<if test="textAttribute03!=null">
				text_attribute_03 like #{textAttribute03}
			</if>
			<if test="textAttribute04!=null">
				text_attribute_04 like #{textAttribute04}
			</if>
			<if test="textAttribute05!=null">
				text_attribute_05 like #{textAttribute05}
			</if>
			<if test="textAttribute06!=null">
				text_attribute_06 like #{textAttribute06}
			</if>
			<if test="textAttribute07!=null">
				text_attribute_07 like #{textAttribute07}
			</if>
			<if test="textAttribute08!=null">
				text_attribute_08 like #{textAttribute08}
			</if>
			<if test="textAttribute09!=null">
				text_attribute_09 like #{textAttribute09}
			</if>
			<if test="textAttribute10!=null">
				text_attribute_10 like #{textAttribute10}
			</if>
			<if test="intAttribute01!=null">
				int_attribute_01 like #{intAttribute01}
			</if>
			<if test="intAttribute02!=null">
				int_attribute_02 like #{intAttribute02}
			</if>
			<if test="intAttribute03!=null">
				int_attribute_03 like #{intAttribute03}
			</if>
			<if test="intAttribute04!=null">
				int_attribute_04 like #{intAttribute04}
			</if>
			<if test="intAttribute05!=null">
				int_attribute_05 like #{intAttribute05}
			</if>
			<if test="lastUpdate!=null">
				last_update like #{lastUpdate}
			</if>
		</where>		
	</select>

	<select id="searchAppDeviceAttribute" parameterType="com.micro.msb.beans.AppDeviceAttributeSearchBean" resultMap="appDeviceAttributeResult">         
		select * from app_device_attribute  
		<where>
			<if test="deviceCode!=null">
				device_code like #{deviceCode}
			</if>
			<if test="textAttribute01!=null">
				text_attribute_01 like #{textAttribute01}
			</if>
			<if test="textAttribute02!=null">
				text_attribute_02 like #{textAttribute02}
			</if>
			<if test="textAttribute03!=null">
				text_attribute_03 like #{textAttribute03}
			</if>
			<if test="textAttribute04!=null">
				text_attribute_04 like #{textAttribute04}
			</if>
			<if test="textAttribute05!=null">
				text_attribute_05 like #{textAttribute05}
			</if>
			<if test="textAttribute06!=null">
				text_attribute_06 like #{textAttribute06}
			</if>
			<if test="textAttribute07!=null">
				text_attribute_07 like #{textAttribute07}
			</if>
			<if test="textAttribute08!=null">
				text_attribute_08 like #{textAttribute08}
			</if>
			<if test="textAttribute09!=null">
				text_attribute_09 like #{textAttribute09}
			</if>
			<if test="textAttribute10!=null">
				text_attribute_10 like #{textAttribute10}
			</if>
			<if test="intAttribute01!=null">
				int_attribute_01 like #{intAttribute01}
			</if>
			<if test="intAttribute02!=null">
				int_attribute_02 like #{intAttribute02}
			</if>
			<if test="intAttribute03!=null">
				int_attribute_03 like #{intAttribute03}
			</if>
			<if test="intAttribute04!=null">
				int_attribute_04 like #{intAttribute04}
			</if>
			<if test="intAttribute05!=null">
				int_attribute_05 like #{intAttribute05}
			</if>
			<if test="lastUpdate!=null">
				last_update like #{lastUpdate}
			</if>
		</where> limit 10 offset #{rowid}
	</select>

</mapper>
