<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="appRoomNewResult" type="AppRoomNewBean">
		<result property="meetingRoom" column="meeting_room"/>
		<result property="subject" column="subject"/>
		<result property="participant" column="participant"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="status" column="status"/>
		<result property="refValue" column="ref_value"/>
	</resultMap>
	
	<insert id="newAppRoom" parameterType="com.micro.msb.beans.AppRoomNewBean">
		insert into app_room(meeting_room,subject,participant,start_date,end_date,status,ref_value) 
		values (#{meetingRoom},#{subject},#{participant},#{startDate},#{endDate},#{status},#{refValue});
	</insert>

</mapper>
